{% extends 'myapp/layout.html' %}
    {% block content %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<br><br>
<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="{{ user.profile_image.url }}" alt="John" style="width:100%">
  <h5>UserName: {{ user.username }}</h5>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Organisation: {{ user.organization }}</p>
  <p>Address: {{ user.address }}</p>
  <p><button><a href="{% url 'profile' %}">Back</a></button></p>
</div>

</body>
</html>

{% endblock %}                   